<div class="container-fluid d-flex flex-column m-0 p-0" style="height: calc(100vh - 100px); background-color: black">
  <div class="col m-0 p-0 flex-grow-1" style="  background: linear-gradient(rgb(1, 1, 1) 0.0%, rgb(7,7,7) 50.0%, rgb(1, 1, 1) 100.0%);"></div>  <div id="forgot-email-address-container" class="">
    <div class="input-group col">
      <div class="input-group-prepend">
        <span id="forgot-email-address-icon" class="input-group-text">@</span>
      </div>
      <input [formControl]="emailAddressInput" id="forgot-email-address-input" type="text" class="form-control" placeholder="Email Address"
             aria-label="EmailAddress" aria-describedby="basic-addon1">
    </div>
  </div>
  <div id="forgot-bottom-container" class="container-fluid d-flex flex-row m-0 p-0">
    <div id="forgot-button-container" class="col-12 container-fluid d-flex m-0 p-0">
      <button (click)="onSendCode()" class="button col d-flex justify-content-center" id="forgot-submit-button">SEND CODE</button>
      <button [routerLink]="['/']" class="button col-2 d-flex justify-content-center" id="forgot-cancel-button">X</button>
    </div>
  </div>
</div>


