<div class="container-fluid">
  <div class="row">
    <!--    <div class="col"></div>-->
    <div class="container-fluid min-vh-100 d-flex flex-column col-xs-12 col-sm-10 col-md-8 col-lg-7 ">
      <div class="row">
        <div class="col">
          <div class="row justify-content-center m-0 p-0">
            <div id="logo-container" class="no-gutters col-12 container-fluid d-flex m-0 p-0">
              <div class="col d-flex justify-content-center" style="background-color: black;">M</div>
              <div class="col d-flex justify-content-center" style="background-color: red;">O</div>
              <div class="col d-flex justify-content-center" style="background-color: brown;">O</div>
              <div class="col d-flex justify-content-center" style="background-color: yellow;">R</div>
              <div class="col d-flex justify-content-center" style="background-color: green;">T</div>
              <div class="col d-flex justify-content-center" style="background-color: blue;">A</div>
              <div class="col d-flex justify-content-center" style="background-color: purple;">H</div>
              <div class="col d-flex justify-content-center" style="background-color: black;">C</div>
            </div>
            <div id="url-container" class="d-flex flex-row col-12 m-0 p-0">
              <button id="url-icon" (click)="connect()"></button>
              <input id="url-text-input" [formControl]="urlInput" type="text" class="form-control" value="1"
                     placeholder="ENTER ROOM NAME HERE">
            </div>
          </div>
        </div>
      </div>
      <div class="col m-0 p-0 flex-grow-1 container-fluid d-flex flex-column" style="position: relative">
        <div class="col m-0 p-0 flex-grow-1 "
             style="height: calc(100vh - 100px); background: linear-gradient(rgb(1, 1, 1) 0.0%, rgb(7,7,7) 50.0%, rgb(1, 1, 1) 100.0%); position: absolute">
          <div class="overflow-auto" style="height: calc(100vh - 165px);">
            <ul id="chat-messages" class="">

            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>




