#login-container {

}

#login-center-container {

}

#login-user-name-container {

}

#login-user-name-icon {
  height: 50px;
  width: 50px;
}

#login-username-input {
  height: 50px;
}

#login-password-container {
  background-color: green;
}

#login-password-icon {
  height: 50px;
  width: 50px;
}

#login-password-input {
  height: 50px;
}

#login-bottom-container {
  height: 65px;
}

#login-password-input{
  height: 50px;
}

#login-first-name-input{
  height: 50px;
}

#login-last-name-input{
  height: 50px;
}

#login-submit-button {
  height: 65px;
  background-color: red;

}

#login-forgot-button {
  height: 65px;
}

#login-cancel-button {
  height: 65px;
  background-color: lightblue;
}

