<div class="container-fluid d-flex flex-column m-0 p-0" style="height: calc(100vh - 100px)">
  <div class="col m-0 p-0 flex-grow-1" style="  background: transparent; pointer-events: none"></div>
  <div id="chat-bottom-container" class="container-fluid d-flex flex-row m-0 p-0">
    <div id="send-message-container" class="input-group col-12 container-fluid d-flex m-0 p-0">
      <div class="input-group-prepend m-0 p-0">
      <span class="input-group-text m-0 p-0">
        <button (click)="onSend()"
                id="chat-send-button" class="button col-12 d-flex justify-content-center h-100">SEND</button>
      </span>
      </div>
      <textarea [(ngModel)]="content" id="chat-text-area" class="form-control m-0 p-0" aria-label="With textarea"
                style="resize: none;"></textarea>
      <span class="input-group-text m-0 p-0">
        <button [routerLink]="['/']" (click)="onLogout()"
                id="chat-logout-button" class="button col-12 d-flex justify-content-center h-100">LOGOUT</button>
      </span>
    </div>
  </div>

</div>
